bidding-auction-single-host/demo
bidding-auction-single-host/demo.tar
trusted-application-single-host/demo
trusted-application-single-host/demo.tar
bidding-auction-single-host-docker/build_dependencies/bidding-auction-server
bidding-auction-single-host-docker/build_dependencies/hats-docker/hats
bidding-auction-single-host-docker/build_dependencies/output/
bidding-auction-single-host-docker/run_dependencies/bidding-auction-local-testing-app/
bidding-auction-single-host-docker/run_dependencies/output/
dist/
docker-buildx-presubmit-*.log
